@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin flex-layout($justify, $align, $flow, $wrap ) {
  display: flex;
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
  @if $flow {
    flex-flow: $flow;
  }
  @if $wrap {
    flex-wrap: $wrap;
  }
}

// @mixin flex-center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// @mixin flex-center-column {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-flow: column;
// }

// @mixin flex-space-between-center {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// @mixin flex-wrap {
//   flex-wrap: wrap;
// }

@mixin gray-header {
  height: 40px;
  background: #e6e6e6;
  line-height: 40px;
  padding: 0 10px;
  @include flex-layout(space-between, center, null, null)

}

@mixin boxShadow-container {
  padding: 0px;
  border: 1px solid #e6e6e6;
  border-top: none;
  border-radius: 5px;
  overflow-y: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
} 